<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Genre Selection</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
  </head>
  <body style = "background-color: #F2F2F2">
    <div class="container d-flex justify-content-center align-items-center" style="height: 100vh;">
      <div class="row justify-content-center align-items-center">
        <div class="col-12">
          <div style="background-color: lightblue; border: 1px solid black; width: 400px; height: 200px; display: flex; justify-content: center; align-items: center;">
            <p style="text-align: center; font-size: 24px;">What genre of music are you in the mood for?</p>
          </div>
          <br>
          <form method="POST">
            <div class="form-check">
              <input class="form-check-input" type="radio" id="pop" name="genre" value="pop">
              <label class="form-check-label" for="pop">Pop</label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" id="rock" name="genre" value="rock">
              <label class="form-check-label" for="rock">Rock</label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" id="hip hop" name="genre" value="hip hop">
              <label class="form-check-label" for="hip hop">Hip Hop</label>
            </div>
               <div class="form-check">
              <input class="form-check-input" type="radio" id="anygenre" name="genre" value="anygenre">
              <label class="form-check-label" for="anygenre">I'm open to any genre.</label>
            </div>
            <br>
            <button type="submit" class="btn btn-primary">Next</button>
          </form>
        </div>
      </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>
  </body>
</html>
